.pets-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -400px;
    margin-right: 70px;
    padding: 0;
}

.pet-heading-style {
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 1rem;
    padding-bottom: 50px;
    width: 50rem;
    color: #08297c;
}

.pet-table-heading {
    color: #08297c;
    font-size: 18px;
    padding: 0px 20px 30px 50px;
}

.pets-loading-text,
.no-pet-data-text {
    padding: 100px 0 0 150px;
}

.view-pet-breadcrumb {
    margin-left: -250px;
    margin-top: 1rem;
    margin-bottom: 0px;
}
