* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    align-items: center;
    width: 70%;
}
.user-pic {
    margin-left: 42%;
    width: 20%;
    padding: 10px;
}

.name {
    margin: auto;
    width: 10%;
    padding: 0px;
    background-color: #fff;
}
.email{
    margin: auto;
    width: 20%;
    padding: 5px;
    background-color: #fff;
}

.btn-color {
    background-color: #7ec6e8;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-color:hover{
    background-color: #7ec6e8;
}

.btn-register {
    float: left;
    margin-right: 15%;
    margin-left: 33%;
    margin-top: 4%;
}

.btn-view{
    margin-top: 4%;
}

.pet-info {
    background-color: #7ec6e8;
    width: 80%;
}

