.bold {
    font-weight: 600;
}

.form {
    background-color: #7ec6e8;
    margin-bottom: 100px;
    margin-left: -70px;
}

.form-label {
    padding: 40px 40px 0px 40px;
}

.label-style {
    font-weight: 500;
    color: #08297c;
}

.signup-button,
.signup-button:hover {
    background: none;
    color: #08297c;
    border: none;
    padding-left: 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.login-heading-style {
    color: #08297c;
    font-weight: 600;
}

.container {
    width: 45px;
}
.btn-style {
    background-color: #08297c;
    cursor: pointer;
}

.btn-style:focus {
    background-color: #08297c;
    border-style: outset;
}
